<div class="container">
    <h1>Category</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2><small><button ng-click="catCtrl.create('set'); catCtrl.setPath('create')" title="Create" style="float: right; margin-top: 10px;" role="button">+</button>List</small></h2>
            <p>&nbsp;</p>
            <ul class="root">
                <li ng-repeat="category in categoriesTree">
                    <tree doc="category"></tree>
                </li>
            </ul>
        </div>
        <div class="col-sm-6" ng-if="catCtrl.path">
            <div>
                <h2><small>{{catCtrl.path | capitalize}} {{catCtrl.selDoc.name}}</small></h2>
                <p>&nbsp;</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputTextCatId" class="col-sm-3 control-label">ID</label>
                        <div class="col-sm-9">
                            <!-- <p ng-model="catCtrl.selDoc._id" class="form-control-static">{{catCtrl.selDoc._id}}</p> -->
                            <input ng-model="catCtrl.selDoc._id" type="text" class="form-control" id="inputTextCatId" placeholder="ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTextCatName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input ng-model="catCtrl.selDoc.name" type="text" class="form-control" id="inputTextCatName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textareaCatDescription" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea ng-model="catCtrl.selDoc.description" type="text" class="form-control" id="textareaCatDescription" placeholder="Description" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textareaCatPath" class="col-sm-3 control-label">Path</label>
                        <div class="col-sm-9">
                            <p ng-model="catCtrl.selDoc.path" class="form-control-static" style="word-wrap: break-word;">{{catCtrl.selDoc.path}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectCatParent" class="col-sm-3 control-label">Parent</label>
                        <div class="col-sm-9">
                            <select ng-model="catCtrl.selDoc.objParent" ng-change="catCtrl.parentToPath(catCtrl.selDoc.objParent, catCtrl.selDoc._id)" ng-options="cat.name for cat in catCtrl.catsNoSelDoc track by cat._id" class="form-control" id="selectCatParent">
                                <option value="">-- Root --</option>
                            </select>
                        </div>
                    </div>
                    <div style="min-height: 40px; text-align: right;">
                        <strong ng-show="error" ng-hide="errorSwitch" ng-repeat="err in error" class="text-danger">{{err}} </strong>
                    </div>
                    <div style="text-align: right;">
                        <button ng-click="catCtrl.create('save');" ng-class="{ hide: catCtrl.path === 'update' }" type="submit">Create</button>
                        <button ng-click="catCtrl.updSelected(catCtrl.selDoc._id)" ng-class="{ hide: catCtrl.path === 'create' }" type="submit">Update</button>
                        <button ng-click="catCtrl.setPath(''); catCtrl.clean()" type="submit">Cancel</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
